* {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(36, 61, 107); /* used color picker to pick the color for the rest of the font in the page */
  /* height: 100%; */
  /* width: 100%; */
}

/* .entry-point {
  display: flex;
  justify-content: center;
  align-items: center;
} */

#modal {
  color: rebeccapurple;
  width: 60%;
}

.div-1 {
  display: flex;
  align-items: flex-start;
}

.logic-body {
  display: flex;
  justify-content: left;
}

.close {
  border: 1px solid rgb(36, 61, 107);
  padding: 5px;
  border-radius: 5px;
  background: rgb(36, 61, 107);
  color: white;
}

select {
  appearance: none;
  outline: 0;
  background-image: none;
  padding: 9px;
  width: 100%;
  height: 100%;
  color: rgb(36, 61, 107);
  cursor: pointer;
  border: 1px solid lightgray;
  border-radius: 8px;
}

.select {
  position: relative;
  display: block;
  width: 100%;
  height: 2em;
  line-height: 3;
  overflow: hidden;
  border-radius: .25em;
  padding-bottom: 10px;
}

.close, .main-body {
  margin: 10px;
}

.main-body {
  width: 100%;
}

.title {
  font-weight: bolder;
  text-align: center;
  width: fit-content;
  font-size: 25px;
  margin: auto;
  border-bottom: solid rgb(234, 234, 234) 1px;
  padding-bottom: 10px;
}

.drop-zone-wrapper {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 25px;
  text-align: center;
}

.drop-zone-border {
  border: 2px dotted lightgray;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drop-zone-image {
  width: 40px;
}

.elapsed-data>p, .location-checking-wrapper>p, .client-wrapper>p {
  font-weight: bold;
  font-size: 12px;
}

.elapsed-dates, .location-checking-data {
  color: rgb(96, 171, 140);
}

.client-select-wrapper p {
  font-size: 11px;
  white-space: nowrap;
}

.client-select-wrapper select {
  width: 60%;
}

.select-row {
  display: flex;
}

.drop-zone-description {
  font-size: 12px;
}

#select-file-input {
  display: none;
}

.select-file-button {
  border: 1px solid rgb(36, 61, 107);
  color: white;
  background: rgb(36, 61, 107);
  padding: 10px 50px;
  font-size: 14px;
  border-radius: 10px;
}

.footer-wrapper {
  text-align: center;
}

.footer-title {
  font-weight: bold;
}

.toggle {
  position : relative ;
  display : inline-block;
  width : 29px;
  height : 16px;
  background-color: white;
  border-radius: 30px;
  border: 2px solid rgb(36, 61, 107);
}
     
.toggle:after {
  content: '';
  position: absolute;
  width: 15px;
  top: -1.5px;
  left: -2px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid rgb(36, 61, 107);
  transition:  all 0.5s;
}
     
.checkbox:checked + .toggle::after {
  left : 12.5px; 
}
     
.checkbox:checked + .toggle {
  background-color: rgb(36, 61, 107);
}
     
.checkbox { 
  display : none;
}

.toggle-wrapper {
  display: flex;
  align-items: center;
}

.tolerance-window-title, .split-schedule-title, .select-file-title {
  font-size: 12px;
  font-weight: bold;
}

.split-schedule-wrapper label, .client-wrapper label {
  font-size: 12px;
}

.toggle-state {
  font-size: 12px;
  margin: 0;
  margin-left: 10px;
}

.left {
  width: 50%;
  margin-left: 20px;
}

.right {
  width: 30%;
  margin-left: 60px;
}

.button-cancel, .button-continue {
  border-radius: 10px;
  padding: 10px 60px;
  font-size: 12px;
}

.button-cancel {
  border: 2px solid rgb(234, 158, 10);
  color: rgb(234, 158, 10);
  background: white;
  margin-left: 10px;
}

.button-continue {
  border: 2px solid rgb(36, 61, 107);
  color: white;
  background: rgb(36, 61, 107);
  margin-right: 10px;
}
